<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myapplication">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TmapProject">

        <!-- IndexActivity: 앱 시작 화면 -->
        <activity
            android:name=".IndexActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity: 메인 화면 -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true" />

        <!-- RegisterActivity: 회원가입 화면 -->
        <activity
            android:name=".RegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true" />

        <!-- DriveActivity: 운전 관련 화면 -->
        <activity
            android:name=".DriveActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true" />

        <!-- LoginActivity: 로그인 화면 -->
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true" />

        <activity
            android:name=".FindIDPWActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true" />

        <activity
            android:name=".IdRecoveryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true" />

        <activity
            android:name=".IdNotFoundActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true" />

        <activity
            android:name=".PwRecoveryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true" />

        <activity
            android:name=".PwNotFoundActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true" />

        <activity
            android:name=".UserEditActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight" />



    </application>
</manifest>
